<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>ConfirmCode</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Users/ConfirmEmail">Back</a></li>
                        <li class="breadcrumb-item active">Confirm Code</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>ConfirmCode</h3>
                <div class="theme-card">
                    <form asp-action="ConfirmCode" method="post"
                          class="theme-form">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="number" name="code" class="form-control" placeholder="code" required>
                        </div>
                        <button type="submit" class="btn btn-solid">Verify Code</button>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        }
                    </form>
                </div>  
            </div>
        </div>
    </div>
</section>
<!--Section ends-->